@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
*{
    margin: 0%;
    padding: 0%;
}

@font-face {
    font-family:'Banks' ;
    src: url('Banks&MilesSingleLine.ttf') format('truetype');
}
:root{
    --cor1:#23B6EB;
    --cor2:#1BF2F2;
    --cor3:#23DBA7;
    --cor4:#E0F5E9;
    --cor5:#CEEBD3;
    --fontHeader:'Banks';
    --fontMenu:'Roboto';
    --fontP:'Roboto Condensed';
}
body{
    background-color: var(--cor5);
}
header{
    background-color: var(--cor1);
    font-family: var(--fontHeader);
}
#menu ul{
    background-color: var(--cor2);
    list-style: none;
    font-family: var(--fontMenu);
    float: right;
    width: 100%;
    font-size: 1.4rem;
}
#menu ul li{display: inline;}
#menu ul li a{
    background-color: var(--cor2);
    color: black;
    text-decoration:none;
    padding: 4px 20px;
    float: left;

}
#menu ul li a:hover{
    background-color: var(--cor1);
    transition-duration: 0.7s;
    border-radius: 25px;
}
main{
    background-color: white;
    width: 1000px;
    margin: auto;
    padding: 10px;
    border-radius: 30px;
    font-family: var(--fontP);
    line-height: 1.5rem;
}
main img{
    width: 100%;
}
main img.img{
    width: 65%;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
main img.img1{
    width: 65%;
    padding: 5px;
    display: block;
    margin-right: auto;
}
footer{
    background-color: var(--cor3);
    height: 60px;
    padding: 15px;
    margin: auto;
    margin-top: 100px;
}
footer p{
    text-align: center;
}
@media screen and (min-device-width:280px) {
    body{
        background-color: var(--cor5);
        width: 100%;
    }
    main{
        width: 80%;
    }
    footer{
        width: 100%;
    }
}